[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
flask_cors = "*"
flask-restful = "*"
neo4j = "*"
neomodel = "*"
passlib = "*"
flask-sqlalchemy = "*"
uuid = "*"
datetime = "*"
bcrypt-flask = "*"
flask-swagger-ui = "*"
timedelta = "*"
werkzeug = "*"
pyjwt = "*"
flask-jwt = "*"
make-response = "*"
flask-mail = "*"
requests = "*"
marshmallow-sqlalchemy = "*"
oauthlib = "*"
gunicorn = "*"
waitress = "*"
pyppeteer = "*"
beautifulsoup4 = "*"
selenium = "*"
pybitrix24 = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
