<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;500;700&family=Telex&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body style="
background-color: #F8FAFC;
width: 640px;
border: 1px solid rgba(154, 154, 154, 0);
height: 710px;">
    <div class="header" style="
    width: 565px;
    margin-left: 38px;
    height: 70px;
    margin-top: 1rem;
    ">
        <p style="
color: #121A26;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
        ">
    <img style="width: 16px; height: 16px;" src="https://smart.infomoby.com/assets/favicon.png" alt="logo"/>
    Infomoby Business 
    <img style="width: 20px; height: 20px;  margin-left: 16rem;" src="https://diy.infomoby.com/assets/twitter.png"/>
    <img style="width: 20px; height: 20px;  margin-left: 1.2rem;" src="https://diy.infomoby.com/assets/facebook.png"/> 
    <img style="width: 20px; height: 20px;  margin-left: 1.2rem;" src="https://diy.infomoby.com/assets/instagram.png"/>    
    </p>
    </div>
    <div class="content-container" style="            
    width: 640px;
    ">
        <div class="content" style="
        margin-left: 38px;
        width: 565px;
        background-color: white;
        border-radius: 5px;
        height: 406px;">
            <div style="height: 1.1rem;"></div>

            <div style="
                margin-left: 2rem;
                width: 371px;
                margin-bottom: 1.5rem;">
                <p style="
                    color:  #121A26;
                    font-family: Arial;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                ">Reset my password</p>
            </div>

            <div style="
                width: 485px;
                margin-left: 2rem;">

                <p style="
                color:  #384860;
                font-family: Arial;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 25.6px;
                letter-spacing: 0.2px;">
                    Hi <span style="
                    color: black;
                    font-weight: 600;
                    ">Dennis,</span>
                    <br>
                    <br>
                    We received a request to reset your password for your Infomoby DIY account. Enter this verification code to be able to change it:
                    <br>
                    <br>
                    {{six_digit_code}}
                    <br>
                    <br>
                    Thanks
                    <br>
                    Infomoby Team
                </p>
                <!-- <ul> -->
                
                <!-- </ul> -->
        </div>
    </div>
    <div style="
    height: 20vh;
    width: 544px;
    margin-left: 3rem;
    margin-top: 2rem;
    ">
        <p style="
color:  #202B3C;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.2px;
    ">Questions or faq? Contact us at <span style="
    color: #04A9F4;
    ">info@africa118.com.</span> </p>

        <p style="
color:  #202B3C;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.2px;
        ">Rainbow towers, Muthithi Road
            <br>
            &copy; 2023 Africa 118
        </p>
    </div>
</body>

</html>