
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome Message</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
 <style>
.social-links a{
margin-right:7px;

}
.team{
font-weight:bold
}

</style>
  </head>
  
  <body >
    
  <div class=""> 
  <img style=" width:30%;  height:20%;  background-color: #38A5DD;
  " src="">
  </div>
    <div>

<p>
  <h4> Hi {{name}},</h4>

    <p>Thank you for signing up to Infomoby DIY.</p>
   <p> Please click this button below to activate your account</p>

   <a href="{{ confirm_url  }}" class="btn btn-primary">Verify my Email</a>
    
   <h6 class="mt-2"> Have a great day,</h6>
        <div class="social-links my-3"> 
          <a
        href="https://www.facebook.com/Africa118-103182066534731/?https://www.facebook.com/Africa118-103182066534731/"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a href="https://twitter.com/Africa118inc" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>

      <a
        href="https://www.linkedin.com/company/africa-118-inc./?originalSubdomain=ke"
        target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>

      <a href="https://www.instagram.com/africa118inc1/?hl=en" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      </div>
    </div>
</div>

    <div style="text-align: center;">
<p>Feel free to <a href="" target="_blank">contact us</a></p>

<p>Your team <span class="team">SmartData</span></p>

<p>Need help?  <a href=""></a></p>


</div>

    <div style="text-align: center;">
      <span>Rainbow Towers,</span> 
      <br>
      <span>6th Floor, Muthithi Rd,</span> 
            <br>

      <span>Westlands, Nairobi, Kenya</span> 
            <br>

      <span>Mob: +254 729 905 156 / 0207652895</span>
            <br>

      <span><a href="https://africa118.com/privacy-policy" target="_blank">Privacy Policy</a></span>

 

    </div>

<script src="https://kit.fontawesome.com/40f4086384.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>